name: CI-CD to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region us-east-1 \
        | docker login --username AWS --password-stdin <ECR_URI>

    - name: Build Docker image
      run: |
        docker build -t demo-app .
        docker tag demo-app:latest 212901747349.dkr.ecr.us-east-1.amazonaws.com/cicd-html:latest

    - name: Push image to ECR
      run: |
        docker push 212901747349.dkr.ecr.us-east-1.amazonaws.com/cicd-html:latest

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster demo-cluster \
          --service demo-service \
          --force-new-deployment
