name: CI-CD to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region us-east-1 \
        | docker login --username AWS --password-stdin public.ecr.aws/i8c7o6z5/demo-app

    - name: Build Docker image
      run: |
        docker build -t demo-app .
        docker tag public.ecr.aws/i8c7o6z5/demo-app

    - name: Push image to ECR
      run: |
        docker push public.ecr.aws/i8c7o6z5/demo-app

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster demo-cluster \
          --service demo-service \
          --force-new-deployment
